.head{
	background: url(../img/house-img/header-bg_bb39ce.png) repeat scroll ;
	display: flex;
}
.head_img1{
	padding-left: 30px;
	width: 100px;
	height: 100px;
}
.head_img2{
	padding-left: 1200px;
	padding-top: 60px;
	width: 30px;
	height: 30px;
}
.head p{
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 25px;
	font-weight: bolder;
}
.nva{
	min-width: 400px;
  	max-width: 100%;
    height: 40px;
    line-height: 40px;
   	background: url(../img/house-img/header-bg_bb39ce.png) repeat scroll top left;
    color: white;
    display: flex;
}
.nva a{
	text-decoration: none;
 	display: block;
	flex: 1;
	text-align: center;
	color: white;
}
.nva a:hover{
	color: cyan;
}
.view_body{
	width: 90%;
	margin: 0 auto;
	display: flex;
}
.body_second{
	padding-left: 20px;
}

.body_second a{
	text-decoration: none;
	color: cornflowerblue;
}
.body_sec_view{
	display: flex;
}
.body_sec_view img{
	width: 300px;
	height: 203px;
	padding-left: 25px;
	border-radius: 10%;
}
.body_sec_view  a:hover{
	color: #FF0000;
}
.body_sec_view span{
	padding-left: 25px;
}
.tail{
	background-color: #000000;
	color: white;
	text-align: center;
}
	